*.class

# Package Files #
*.war
*.ear
/documentation/*.docx
/GameHub/nbproject/private/
/GameHub/build/
/BackmanGame/nbproject/private/
/BackmanGame/build/
/BackmanGame/dist/
/Engine/nbproject/private/
/Engine/build/
/Engine/dist/